USE [master]
GO
/****** Objeto: Database [NorthwindDW] Fecha de script: 15/5/2026 21:40:03 ******/
CREATE DATABASE [NorthwindDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NorthwindDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NorthwindDW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NorthwindDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NorthwindDW_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NorthwindDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NorthwindDW]
GO
/****** Objeto: Schema [staging] Fecha de script: 15/5/2026 21:40:04 ******/
CREATE SCHEMA [staging]
GO
/****** Objeto: Table [dbo].[DimCustomer] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerSK] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NOT NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_DimCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimDate] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[DayNumberOfWeek] [tinyint] NOT NULL,
	[DayNameOfWeek] [nvarchar](10) NOT NULL,
	[DayNumberOfMonth] [tinyint] NOT NULL,
	[DayNumberOfYear] [smallint] NOT NULL,
	[WeekNumberOfYear] [tinyint] NOT NULL,
	[MonthName] [nvarchar](10) NOT NULL,
	[MonthNumberOfYear] [tinyint] NOT NULL,
	[CalendarQuarter] [tinyint] NOT NULL,
	[CalendarYear] [smallint] NOT NULL,
	[CalendarSemester] [tinyint] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimEmployee] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployee](
	[EmployeeSK] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[Country] [nvarchar](15) NULL,
	[ReportsTo] [int] NULL,
	[ManagerSK] [int] NULL,
 CONSTRAINT [PK_DimEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimProduct] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductSK] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[SupplierName] [nvarchar](40) NOT NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[ProductSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DimShipper] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipper](
	[ShipperSK] [int] IDENTITY(1,1) NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](24) NULL,
 CONSTRAINT [PK_DimShipper] PRIMARY KEY CLUSTERED 
(
	[ShipperSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FactOrders] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrders](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderDateKey] [int] NOT NULL,
	[RequiredDateKey] [int] NOT NULL,
	[ShippedDateKey] [int] NULL,
	[CustomerSK] [int] NULL,
	[EmployeeSK] [int] NULL,
	[ShipperSK] [int] NULL,
	[ProductSK] [int] NULL,
	[Quantity] [smallint] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Discount] [real] NOT NULL,
	[GrossAmount] [decimal](12, 2) NOT NULL,
	[NetAmount] [decimal](12, 2) NOT NULL,
	[OrderDate] [date] NOT NULL,
 CONSTRAINT [PK_FactOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PackageConfig] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageConfig](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](50) NOT NULL,
	[LastRowVersion] [bigint] NULL,
 CONSTRAINT [PK_PackageConfig] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [staging].[customer] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[customer](
	[CustomerSK] [int] NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NOT NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [staging].[employee] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[employee](
	[EmployeeSK] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[Country] [nvarchar](15) NULL,
	[ReportsTo] [int] NULL,
	[ManagerSK] [int] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [staging].[orders] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[orders](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderDateKey] [int] NOT NULL,
	[RequiredDateKey] [int] NOT NULL,
	[ShippedDateKey] [int] NULL,
	[CustomerSK] [int] NULL,
	[EmployeeSK] [int] NULL,
	[ShipperSK] [int] NULL,
	[ProductSK] [int] NULL,
	[Quantity] [smallint] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Discount] [real] NOT NULL,
	[GrossAmount] [decimal](12, 2) NOT NULL,
	[NetAmount] [decimal](12, 2) NOT NULL,
	[OrderDate] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [staging].[product] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[product](
	[ProductSK] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[SupplierName] [nvarchar](40) NOT NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [staging].[shipper] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[shipper](
	[ShipperSK] [int] NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](24) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimCustomer] FOREIGN KEY([CustomerSK])
REFERENCES [dbo].[DimCustomer] ([CustomerSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimCustomer]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimDate_OrderDate] FOREIGN KEY([OrderDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimDate_OrderDate]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimDate_RequiredDate] FOREIGN KEY([RequiredDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimDate_RequiredDate]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimDate_ShippedDate] FOREIGN KEY([ShippedDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimDate_ShippedDate]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimEmployee] FOREIGN KEY([EmployeeSK])
REFERENCES [dbo].[DimEmployee] ([EmployeeSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimEmployee]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimProduct] FOREIGN KEY([ProductSK])
REFERENCES [dbo].[DimProduct] ([ProductSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimProduct]
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD  CONSTRAINT [FK_FactOrders_DimShipper] FOREIGN KEY([ShipperSK])
REFERENCES [dbo].[DimShipper] ([ShipperSK])
GO
ALTER TABLE [dbo].[FactOrders] CHECK CONSTRAINT [FK_FactOrders_DimShipper]
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimCustomer] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 7. PROCEDIMIENTOS DE MERGE (ETL)
-- =====================================================

-- ------------------------------------------------
-- MERGE DimCustomer
-- ------------------------------------------------
CREATE   PROCEDURE [dbo].[DW_MergeDimCustomer]
AS
BEGIN
    UPDATE dc
    SET [CompanyName] = sc.[CompanyName],
        [ContactName] = sc.[ContactName],
        [ContactTitle] = sc.[ContactTitle],
        [Phone] = sc.[Phone],
        [Fax] = sc.[Fax],
        [Address] = sc.[Address],
        [City] = sc.[City],
        [Region] = sc.[Region],
        [PostalCode] = sc.[PostalCode],
        [Country] = sc.[Country]
    FROM [dbo].[DimCustomer] dc
    INNER JOIN [staging].[customer] sc ON (dc.[CustomerSK] = sc.[CustomerSK]);
END;
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimEmployee] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ------------------------------------------------
-- MERGE DimEmployee
-- ------------------------------------------------
CREATE   PROCEDURE [dbo].[DW_MergeDimEmployee]
AS
BEGIN
    UPDATE de
    SET [FirstName] = se.[FirstName],
        [LastName] = se.[LastName],
        [FullName] = se.[FullName],
        [Title] = se.[Title],
        [TitleOfCourtesy] = se.[TitleOfCourtesy],
        [BirthDate] = se.[BirthDate],
        [HireDate] = se.[HireDate],
        [City] = se.[City],
        [Region] = se.[Region],
        [Country] = se.[Country],
        [ReportsTo] = se.[ReportsTo],
        [ManagerSK] = se.[ManagerSK]
    FROM [dbo].[DimEmployee] de
    INNER JOIN [staging].[employee] se ON (de.[EmployeeSK] = se.[EmployeeSK]);
END;
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimProduct] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ------------------------------------------------
-- MERGE DimProduct
-- ------------------------------------------------
CREATE   PROCEDURE [dbo].[DW_MergeDimProduct]
AS
BEGIN
    UPDATE dp
    SET [ProductName] = sp.[ProductName],
        [CategoryName] = sp.[CategoryName],
        [SupplierName] = sp.[SupplierName],
        [QuantityPerUnit] = sp.[QuantityPerUnit],
        [UnitPrice] = sp.[UnitPrice],
        [UnitsInStock] = sp.[UnitsInStock],
        [UnitsOnOrder] = sp.[UnitsOnOrder],
        [ReorderLevel] = sp.[ReorderLevel],
        [Discontinued] = sp.[Discontinued]
    FROM [dbo].[DimProduct] dp
    INNER JOIN [staging].[product] sp ON (dp.[ProductSK] = sp.[ProductSK]);
END;
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeDimShipper] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ------------------------------------------------
-- MERGE DimShipper
-- ------------------------------------------------
CREATE   PROCEDURE [dbo].[DW_MergeDimShipper]
AS
BEGIN
    UPDATE ds
    SET [CompanyName] = ss.[CompanyName],
        [Phone] = ss.[Phone]
    FROM [dbo].[DimShipper] ds
    INNER JOIN [staging].[shipper] ss ON (ds.[ShipperSK] = ss.[ShipperSK]);
END;
GO
/****** Objeto: StoredProcedure [dbo].[DW_MergeFactOrders] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ------------------------------------------------
-- MERGE FactOrders
-- ------------------------------------------------
CREATE   PROCEDURE [dbo].[DW_MergeFactOrders]
AS
BEGIN
    UPDATE fs
	SET [OrderDateKey]     = sc.[OrderDateKey]
	   ,[RequiredDateKey]  = sc.[RequiredDateKey]
	   ,[ShippedDateKey]   = sc.[ShippedDateKey]
	   ,[CustomerSK]       = sc.[CustomerSK]
	   ,[ProductSK]        = sc.[ProductSK]
	   ,[EmployeeSK]       = sc.[EmployeeSK]
	   ,[ShipperSK]        = sc.[ShipperSK]
	   ,[UnitPrice]        = sc.[UnitPrice]
	   ,[Quantity]         = sc.[Quantity]
	   ,[Discount]         = sc.[Discount]
	   ,[GrossAmount]      = sc.[GrossAmount]
	   ,[NetAmount]        = sc.[NetAmount]

	FROM [dbo].[FactOrders] fs
	INNER JOIN [staging].[orders] sc ON (fs.[OrderID] = sc.[OrderID] AND fs.[ProductID] = sc.[ProductID])
END
GO
/****** Objeto: StoredProcedure [dbo].[GetLastPackageRowVersion] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 8. PROCEDIMIENTOS PARA CONTROL DE VERSIONES
-- =====================================================

CREATE   PROCEDURE [dbo].[GetLastPackageRowVersion]
    @tableName VARCHAR(50)
AS
BEGIN
    SELECT LastRowVersion
    FROM [dbo].[PackageConfig]
    WHERE TableName = @tableName;
END;
GO
/****** Objeto: StoredProcedure [dbo].[UpdateLastPackageRowVersion] Fecha de script: 15/5/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateLastPackageRowVersion]
    @tableName VARCHAR(50),
    @lastRowVersion BIGINT
AS
BEGIN
    UPDATE [dbo].[PackageConfig]
    SET LastRowVersion = @lastRowVersion
    WHERE TableName = @tableName;
    
    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO [dbo].[PackageConfig] (TableName, LastRowVersion)
        VALUES (@tableName, @lastRowVersion);
    END;
END;
GO
USE [master]
GO
