USE [NorthWind_DW]
GO
/****** Objeto: Table [staging].[Product] Fecha de script: 06/05/2026 20:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[Product](
	[ProductSK] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[SupplierName] [nvarchar](40) NOT NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[Discontinued] [bit] NOT NULL
) ON [PRIMARY]
GO
