USE [NorthWind_DW]
GO
/****** Objeto: Table [staging].[Shipper] Fecha de script: 06/05/2026 20:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[Shipper](
	[ShipperSK] [int] NOT NULL,
	[ShipperID] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](24) NULL
) ON [PRIMARY]
GO
